<%= flash[:notice] %>

<div class="book">
  <h2 class="title">Title</h2>
  <p class="book-title"><%= @book.title %></p>

 <h2 class="body">Body</h2>
 <p class="book-body"><%= @book.body %></p>



 <%= link_to "Edit",edit_book_path(@book.id) %>

 <%= link_to "Back", books_path(@book.id) %>

</div>